.badge>a {
    color: #fff;
    font-size: 14px;
    padding: 2px 4px;
    text-decoration: none;
}

.badge:hover {
    background-color: lighten($color: #000000, $amount: 25);
}

.fm-inline {
    display: inline;
}

.avatar {
    width: 128px;
    height: 128px;
}